<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/javascripts/description_modal.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<li class="list-group-item" style="background-color: whitesmoke; border: 1px solid grey; margin-bottom: 5px; border-radius: 3px; cursor: pointer; padding: 5px 5px 5px 20px"
  data-toggle="modal" data-target="#myModal<%= id %>" onmouseover="$('.edit<%=id%>').show()" onmouseout="$('.edit<%=id%>').hide()">
  <%= name %>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <span style="display:none" class="edit<%= id%>">
      <i style="opacity: 0.6" class="fa fa-expand"></i>
    </span>
</li>
<div id="myModal<%= id %>" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <a href="#" class="close" data-dismiss="modal">X</a>
      <form action="cards/<%= cid %>/lists/<%= id %>/archive?_method=PUT" method="POST" style="position: relative; left: 390px; bottom: 25px">
        <input type="submit" class="btn btn-outline-dark btn-sm" value="Archive">
      </form>
      <p>
        <b>Description:</b>
        <span id="change<%= id %>" data-id="<%= id %>">
          <%=description %>
        </span>
      </p>
      <button class="btn btn-dark btn-sm" onclick="document.getElementById('desdiv<%=id %>').style.display='block'">Edit description</button>
      <div id="desdiv<%= id %>" class="container" style="display:none; text-align: center">
        <textarea id="description<%=id %>" data-id="<%= id %>" style="width:380px; height:100px; resize:none"><%=description %></textarea>
        <input class="description-submit btn btn-dark btn-sm" data-id="<%= id %>" data-cid: "<%= cid %>" type="submit" value="submit">
        <button class="btn btn-danger btn-sm" onclick="document.getElementById('desdiv<%= id %>').style.display='none'">Close</button>
      </div>
    </div>
  </div>
</div>