<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/dashboard">ToDoApp</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <%= user.firstName %>
              <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/users/<%= user.id %>">Profile</a>
            <a class="dropdown-item" href="/archives">Archive</a>
            <form action="/sessions?_method=DELETE" method="POST">
              <input class="dropdown-item" style="cursor: pointer;" type="submit" value="logout">
            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    <div class="card container" style="float: left; width:50%; padding-bottom: 20px">
      <br>
      <p style="text-align: center"> Cards </p>
      <ul class="list-group">
        <% cards.forEach(function(todo,index){ %>
          <li class="list-group-item">
            <%= todo.name %>
              <form action="/cards/<%= todo.id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn-sm btn-danger" value="Delete">
              </form>
              <form action="/cards/<%= todo.id %>/restore?_method=PUT" method="POST">
                <input type="submit" class="btn-sm btn-dark" value="Restore">
              </form>
          </li>
          <% }); %>
      </ul>
    </div>

    <div class="list container card" style="float: left; width: 50%;  padding-bottom: 20px">
      <br>
      <p style="text-align: center"> Lists </p>
      <ul class="list-group">
        <% lists.forEach(function(todo,index){ %>
          <% const name = todo.card.name; %>
          <% const id = todo.card.id; %>
            <li class="list-group-item">
              <%= todo.name %>
                <form action="/cards/<%= id %>/lists/<%= todo.id %>?_method=DELETE" method="POST">
                  <input type="submit" class="btn-sm btn-danger" value="Delete">
                </form>
                <form action="/cards/<%= id %>/lists/<%= todo.id %>/restore?_method=PUT" method="POST">
                  <input type="submit" value="Restore" class="btn-sm btn-dark" data-toggle="tooltip" title="List belongs to Card: <%=name%>. List won't show when restored in case the parent card is archived">
                </form>
            </li>
            <% }); %>
      </ul>
    </div>
  </div>

</body>

</html>