<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>

<body>
    <h2 style="text-align: center; margin-top: 10px" class="display-3">Login</h2>
    <div class="container" style="width: 30%; opacity: 0.8;">
        <br>
        <form action="/sessions" method="POST">
            <div class="form-group">
                <input type="text"  class="form-control" name="user_name" placeholder="User Name">
            </div>
            <div class="form-group">
                <input type="password"  class="form-control" name="password" placeholder="Password">
            </div>
            <br>
            <input class="btn btn-outline-dark" type="submit" value="submit">
        </form>
        <br>
        <p class="text-danger"><%= error %></p>
        <br>
        <br>
        <a class="btn btn-primary" href="/sessions/signup">Sign up</a>
        <a class="btn btn-dark" href="/">Home</a>

    </div>
</body>

</html>