<!DOCTYPE html>
<html>

<head>
    <script src="/javascripts/passwordRetype.js"></script>
    <script src="/javascripts/emailValidate.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <h2 style="text-align: center; margin-top: 10px" class="display-3">Signup</h2>
    <div class="container" style="width: 30%; opacity: 0.8;">
        <br>
        <form action="/sessions/signup" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="user_name" required placeholder="User Name">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" required placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Re-enter Password" name="cpassword" id="cpassword" onkeyup="checkPass(); return false;" required>
                <span id="confirmMessage" class="confirmMessage"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="first_name" required placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="last_name" required placeholder="Last Name">
            </div>
            <div class="form-group">
                <input id="emailc" class="form-control" type="text" name="email" onkeyup="ValidateEmail(); return false;" required placeholder="e-mail">
                <span id="confirmMessage2" class="confirmMessage2"></span>
            </div>
            <input class="btn btn-outline-dark" type="submit" value="submit">
        </form>
        <p class="text-danger"><%= error %> </p>
        <a class="btn btn-dark" href="/">Home</a>

    </div>
    </div>
</body>

</html>