<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/javascripts/description_modal.js"></script>
  <script src="/javascripts/cardAdd.js"></script>
  <script src="/javascripts/listAdd.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="/javascripts/cardArchive.js"></script>
  <script src="/javascripts/cardAddForm.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-default navbar-dark navbar-inverse" style="background-color: rgba(190, 187, 187, 0.4); padding: 3px">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ToDoApp</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <%= user.firstName %>
              <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/users/<%= user.id %>">Profile</a>
            <a class="dropdown-item" href="/archives">Archive</a>
            <form action="/sessions?_method=DELETE" method="POST">
              <input class="dropdown-item" style="cursor: pointer;" type="submit" value="logout">
            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>


  <div id="page-wrap" style="margin-left: 20px">
    <br>
    <br>
    <div id="cardGroup">
      <% data.forEach(function(todo,index){ %>
        <div class="card" style="background-color: gainsboro; padding: 5px;">
          <div class="add add<%=todo.id%>" data-id="<%= todo.id %>" style="text-align: center; margin-bottom: 10px; margin-top: 5px; ">
            <%= todo.name %>
              <span>&nbsp;&nbsp;&nbsp;</span>
          </div>
          <div class="cardname cardname<%= todo.id %>" style="display:none">
            <form class="form-group" action="/cards/<%= todo.id %>?_method=PUT" , method="POST">
              <input class="form-control-sm" type="text" name="modifydo" value="<%= todo.name%>">
              <br>
              <input type="submit" class="btn btn-dark btn-sm" value="change">
              <button class="btn btn-danger btn-sm cancel" data-id="<%=todo.id%>" type="button">
                cancel </button>
            </form>
            <form action="/cards/<%= todo.id %>/archive?_method=PUT" method="POST">
              <input class="btn btn-outline-dark btn-sm" type="submit" data-method="put" value="Archive" style="position: relative; top:-47px; right: -132px;">
            </form>
          </div>
          <% const id = todo.id; %>
            <ul class="list-group card<%= todo.id %>">
              <% todo.lists.forEach(function(todo,index){ %>
                <li draggable="true" class="list-group-item" style="  background-color: whitesmoke; border: 1px solid grey; margin-bottom: 5px; border-radius: 3px; cursor: pointer; padding: 5px 5px 5px 20px"
                  data-toggle="modal" data-target="#myModal<%= todo.id %>" onmouseover="$('.edit<%=todo.id%>').show()" onmouseout="$('.edit<%=todo.id%>').hide();">
                  <%= todo.name %>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <span style="display:none" class="edit<%=todo.id%>">
                      <i style="opacity: 0.6" class="fa fa-expand"></i>
                    </span>
                </li>
                <div id="myModal<%= todo.id %>" class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <a href="#" class="close" data-dismiss="modal">X</a>
                      <form action="/cards/<%= id %>/lists/<%= todo.id %>/archive?_method=PUT" method="POST" style="position: relative; left: 390px; bottom: 25px">
                        <input type="submit" class="btn btn-outline-dark btn-sm" value="Archive">
                      </form>
                      <p>
                        <b>Description:</b>
                        <span id="change<%= todo.id %>" data-id="<%= todo.id %>" data-cid="<%= id %>">
                          <%= todo.description %>
                        </span>
                      </p>
                      <button class="btn btn-dark btn-sm" onclick="document.getElementById('desdiv<%= todo.id %>').style.display='block'">Edit description</button>
                      <div id="desdiv<%= todo.id %>" class="container" style="display:none; text-align: center">
                        <textarea id="description<%= todo.id %>" data-id="<%= todo.id %>" style="width:380px; height:100px; resize:none"><%= todo.description %></textarea>
                        <input class="description-submit btn btn-dark btn-sm" data-id="<%= todo.id %>" type="submit" value="submit">
                        <button class="btn btn-danger btn-sm" onclick="document.getElementById('desdiv<%= todo.id %>').style.display='none'">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <% }); %>
            </ul>
            <div class="listAdditionClick" data-id="<%=todo.id%>" style="background-color: gainsboro; padding:10px; width: 260px; opacity: 0.6; cursor: pointer;">
              + Add a list
            </div>
            <form class="listForm listAddition<%=todo.id%>" action="/" method="POST" style="display: none">
              <input class="form-control-sm listName<%= todo.id %>" style="float: left" type="text" name="listdo" placeholder="New list">
              <input class="btn btn-dark btn-sm listAdd" data-id="<%= todo.id %>" style="float: left" type="submit" value="Ok">
              <input class="btn btn-light btn-sm listRemove" data-id="<%= todo.id %>" style="float: left" type="submit" value="X">
            </form>
        </div>

        <% }); %>
    </div>
    <div class="card" id="cardAdditionClick" style="background-color: rgb(196, 196, 202); padding:10px; width: 260px; opacity: 0.6; cursor: pointer;">
      + Add a card
    </div>
    <form class="form-group card" id="cardAddition" action="/" method="POST" style="display: none">
      <input class="form-control-sm" id="cardName" style="float: left" type="text" name="carddo" placeholder="New card">
      <input class="btn btn-dark btn-sm" id="cardAdd" style="float: left" type="submit" value="submit">
      <input class="btn btn-light btn-sm" id="cardRemove" style="float: left;" type="submit" value="X">
    </form>
  </div>

</body>

</html>