body {
  opacity: 0.95;
  background-image: url("../images/back3.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%
}

.horizontal {
  position: absolute;
  top: 16px;
  right: 25px;
}

.cardadd {
  float: left;
}

.card {
  float: left;
  background: rgb(126, 123, 123);
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: -30px;
}

.card p {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.modal {
padding-top: 100px; /* Location of the box */
}

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

