body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../images/back2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.heading {
  font-size: 80px;
  font-family: cursive;
}

.subheading {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

.links {
  position: absolute;
  top: 16px;
  right: 25px;
  opacity: 0.7;
}

.linkcontent:visited,
.linkcontent:link {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linkcontent:hover,
.linkcontent:active {
  background-color: whitesmoke;
  color: black;
  border: 2px solid black;
}

.formstyle {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.formstyle:hover {
  background-color: whitesmoke;
  color: black;
  border: 2px solid black;
}