<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      position: relative;
    }

    .home {
      position: absolute;
      top: 16px;
      right: 25px;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/user.css">

</head>

<body>
  <nav class="navbar navbar-expand-sm bg-default navbar-light navbar-inverse" style="background-color: rgba(190, 187, 187, 0.4); padding: 3px">
    <div class="container-fluid">
      <div class="navbar-header" >
        <a class="navbar-brand" href="/dashboard">ToDoApp</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <%= user.firstName %>
              <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/users/<%= user.id %>">Profile</a>
            <a class="dropdown-item" href="/archives">Archive</a>
            <form action="/sessions?_method=DELETE" method="POST">
              <input class="dropdown-item" style="cursor: pointer;" type="submit" value="logout">
            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" style="text-align: center">
      <br>
      <br>
      <h3 style=" font-size: 300%">User Profile</h3>
      <br>
      <br>
      <div class="card" class="container" style="padding-top: 20px; background-color: rgba(231, 223, 223, 0.4); font-size: 120%">
        <p> Name:
          <%= user.firstName %> <span> </span> <%= user.lastName %>
        </p>
        <p> User Name:
          <%= user.userName %>
        </p>
        <p> email:
          <%= user.email %>
        </p>
      </div>
      <br>
      <p>
        <button class="btn btn-dark btn-sm" type="button" onclick="document.getElementById('user').style.display='block'; document.getElementById('password').style.display='none'; document.getElementById('error').style.display='none'"> Edit Details</button>
        <button class="btn btn-dark btn-sm" type="button" onclick="document.getElementById('password').style.display='block'; document.getElementById('user').style.display='none'; document.getElementById('error').style.display='none'"> Edit password </button>
      </p>

      <form class="container" id="user" action="/users/<%= user.id %>?_method=PUT" , method="POST" style="display: none">
        <label for ="userName"> User Name:  </label>
        <input class="form-group" type="text" id="userName" name="userName" value="<%= user.userName %>" required><br>
        <label for="firstName"> First Name: </label>
        <input class="form-group" type="text" id="firstName" name="firstName" value="<%= user.firstName %>" required><br>
        <label for="lastName"> Last Name: </label>
        <input class="form-group" type="text" id="lastName" name="lastName" value="<%= user.lastName %>" required><br>
        <label for="email"> e-mail: </label>
        <input class="form-group" type="text" id="email" name="email" value="<%= user.email %>" required><br>
        <input class="btn btn-dark btn-sm" type="submit" value="change">
        <button class="btn btn-danger btn-sm" type="button" onclick="document.getElementById('user').style.display='none'"> cancel </button>
        </p>
      </form>

      <form id="password" action="/users/<%= user.id %>/password?_method=PUT" , method="POST" style="display: none">
        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="cpassword" placeholder="Confirm Password" required>
        <input class="btn btn-dark btn-sm" type="submit" value="change">
        <button class="btn btn-danger btn-sm" type="button" onclick="document.getElementById('password').style.display='none'"> cancel </button>
        </p>
      </form>
      <p id="error"><%= error %></p>
    </div>
  </body>
  
  </html>