<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/javascripts/listAdd.js"></script>
<script src="/javascripts/cardAddForm.js"></script>


<div  class="card" style="background-color: gainsboro; padding: 5px">
  <div class="add add<%=id%>" data-id="<%= id %>" style="text-align: center; margin-bottom: 10px; margin-top: 5px">
    <%= name %>
      <span>&nbsp;&nbsp;&nbsp;</span>
  </div>
  <div class="cardname cardname<%= id %>" style="display:none">
    <form class="form-group" action="/cards/<%= id %>?_method=PUT" , method="POST">
      <input class="form-control-sm" type="text" name="modifydo" value="<%= name %>">
      <br>
      <input type="submit" class="btn btn-dark btn-sm" value="change">
      <button data-id="<%=id%>" class="cancel btn btn-danger btn-sm" type="button">
        cancel </button>
    </form>
    <form action="/cards/<%= id %>/archive?_method=PUT" method="POST">
      <input type="submit" class="btn btn-outline-dark btn-sm" data-method="put" value="Archive" style="position: relative; top:-46px; right: -132px;">
    </form>
  </div>
  <ul class="list-group card<%= id %>">
  </ul>
  <div class="listAdditionClick" data-id="<%=id%>" style="background-color: gainsboro; padding:10px; width: 260px; opacity: 0.6; cursor: pointer;">
      + Add a list
  </div>
  <form class="listForm listAddition<%=id%>" action="/" method="POST" style="display: none">
    <input class="form-control-sm listName<%=id %>" style="float: left" type="text" name="listdo" placeholder="New list">
    <input class="btn btn-dark btn-sm listAdd" data-id="<%= id%>" style="float: left" type="submit" value="Ok">
    <input class="btn btn-light btn-sm listRemove" data-id="<%=id %>" style="float: left" type="submit" value="X">
  </form>
</div>