<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>

<body>
  <div class="bg">
    <div class="content">
      <p class="heading">Todoapp</p>
      <p class="subheading">WELCOME TO THE BEST TO DO APP IN THE WORLD</p>
      <form action="/sessions/new" method="GET">
        <input type="submit" value="Get started" class="formstyle">
      </form>
    </div>
    <div class="links">
      <a href="/sessions/signup" class="linkcontent"> signup</a>
      <a href="/sessions/new" class="linkcontent"> login </a>
    </div>
  </div>
</body>

</html>